<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="../../stylesheets/appStyles.css" rel="stylesheet" />
    <script src="../../javascripts/jquery-1.10.2.min.js"></script>
    <script src="../../javascripts/bootstrap.min.js"></script>
    <script src="../../javascripts/angular.min.js"></script>
    <script src="../../javascripts/app.js"></script>
    <script src="../../javascripts/login/loginModule.js"></script>
    <script src="../../javascripts/login/controller/loginController.js"></script>
</head>

<body ng-controller="loginController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <h3>Login to miniEcomApp</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <form class="form-group form-group-sm col-xs-5 col-xs-offset-4" id="loginForm">
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">
                            Login
                        </h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">
                                    <strong>UserName</strong>
                                </span>
                                <input type="text" class="form-control" ng-model="login.username" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">
                            <strong>Password</strong>
                        </span>
                                <input type="password" class="form-control" ng-model="login.password" />
                            </div>
                        </div>
                        <div>&nbsp;</div>
                       
                        <div class="row">
                            <div class="form-inline text-right">
                                <div class="form-group checkbox">
                                    <input type="checkbox" class="checkbox" />
                                    <span> <strong>Remember Me</strong> </span>
                                </div>


                            </div>
                        </div>
                        <div>&nbsp;</div>
                        
                        <div class="text-right">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="validateUser()">Login</button>
                        <button type="button" class="btn btn-sm btn-primary">Reset</button>
                    </div>
                    </div>
                </div>

        </form>
        </div>
    </div>
</body>

</html>