<% include layout %>

<script src="../../javascripts/product/controller/productController.js"></script>

<div class="panel panel-primary" ng-controller="productController">
  <div class="panel-heading">
    <h3 class="panel-title">Product Categories</h3>
  </div>
  <div class="panel-body">
    <div class="container">
        <form class="form-group form-group-sm" id="productCategoryForm">
            <div class="row">
                <div class="input-group input-group-md col-xs-6">
                    <span class="input-group-addon">
                       <strong>Category Name</strong> 
                    </span>
                    <input type="text" class="form-control" placeholder="Product Category Name" ng-model="new.productCategory.Name">
                </div>
            </div>
             <div class="row">
                <div class="input-group input-group-md col-xs-6">
                    <span class="input-group-addon">
                       <strong>Description</strong> 
                    </span>
                    <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Product Category Description"  ng-model="new.productCategory.Description"></textarea>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <!-- Button Controls-->

             <div class="row">
                 <div class="input-group-md col-xs-6"> 
                    <div class="form-buttons">
                        <button type="button" class="btn btn-primary btn-md" ng-click="addProductCategory()">Save</button>
                        <button type="button" class="btn btn-primary">Cancel</button>
                    </div>
                 </div>
                
            </div>

        </form>
    </div>
  </div>
</div>